<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <meta name="google-site-verification" content="WrNs4kb-PL779UWOhOTLegwiql-42uVzYDfCoJxQRPs" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:image" content="{{ site.url }}/images/ula3.jpeg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.url }}/images/ula3.jpeg" />

  <!-- Your existing meta tags -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />

  {% assign keywords = page.tags | where_exp: 'tag', 'tag != "featured"' | join: ', ' %}
  <!-- Add JSON-LD for Article and Person Schema -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{% if page.title %}{{ page.title | escape }}{% else %}Urszula Czerwinska | Data Scientist & Deep Learning Engineer{% endif %}",
      "description": "{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}",
      "datePublished": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}",
      "dateModified": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}",
      "keywords": "{{ keywords }}",
      "author": {
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "description": "{{ site.author.description }}",
        "url": "{{ site.author.url }}"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/images/writing.jpeg",
        "width": 1200,
        "height": 630
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.author.name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/images/logo.png",
          "width": 60,
          "height": 60
        }
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
      }
    }
  </script>

  <!-- Your existing conditional styles and scripts -->

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
